  <table id="table">
    <tr>
      <th>Estudiante</th>
      <th>Materia</th>
      <th>Promedio</th>
    </tr>
    <tr *ngFor="let PromedioNotas of GestionNotasService.PromedioNotasList">

      <td>{{PromedioNotas.estudiante}}</td>
      <td>{{PromedioNotas.materia}}</td>
      <td [ngClass]="{'reprobar':PromedioNotas.calificacion<3, 'aprobar':PromedioNotas.calificacion>4}">
        {{PromedioNotas.calificacion}}</td>
    </tr>
  </table>
  <h6>
    <br />
    Diego Madrid
    <br />
    ----
  </h6>
  <br />
