<div class="jumbotron">
  <h1 class="display-4 text-center">Gestión de Notas</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h6 class="text-center">
        Registro de notas
      </h6>
      <app-notas></app-notas>
    </div>
    <div class="col-md-7">
      <h6 class="text-center">
        Listado de notas
      </h6>
      <app-lista></app-lista>
    </div>
  </div>    
  <h6 class="text-center">
    Promedio de notas
    <app-promedio-notas-list></app-promedio-notas-list>
  </h6>

</div>
