<form>
  <div class="form-group">
    <div class="input-group">

      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <select class="form-select form-select-lg mb-3" ormControlName="AlumnoNombre">
        <option value="" selected disabled>Seleccione un alumno</option>
        <!-- <option *ngFor="let nombre of  " [ngValue]="nombre"></option> -->
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">

      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-book"></i>
        </div>
      </div>
      <select class="form-select form-select-lg mb-3" ormControlName="AlumnoNombre">
        <option value="" selected disabled>Seleccione una materia</option>
        <!-- <option *ngFor="let nombre of  " [ngValue]="nombre"></option> -->
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">

      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-star"></i>
        </div>
      </div>
     <input type="number" class="form-control" placeholder="Calificación">
    </div>
  </div>

  <div class="form-group text-ali">
      <button class="btn btn-success btn-lg btn-block" type="submit">Aceptar</button>
  </div>
</form>
