<form [formGroup]="form" (submit)="guardarRegitro()">
  <!-- alumno -->
  <hr>
  <div class="form-group">
    <div class="input-group btn-lg ">
      <i class="fas fa-user btn-lg btn-block"></i>
      <input type="text" class="form-control" formControlName="alumno" maxlength="2" placeholder="ID Alumno">
    </div>
  </div>
  <!-- materia -->
  <div class="form-group btn-lg ">
    <div class="input-group">
      <i class="fas fa-book btn-lg btn-block"></i>
      <input type="text" class="form-control" formControlName="materia" maxlength="2" placeholder="ID Materia">
    </div>
  </div>
  <!-- nota -->
  <div class="form-group btn-lg ">
    <div class="input-group">
      <i class="fas fa-filter btn-lg btn-block"></i>
      <input type="text" class="form-control" formControlName="calificacion" maxlength="3" placeholder="Calificación">
    </div>
  </div>
  <!-- boton -->
  <hr>
  <div class="form-group btn-lg" style="text-align: center">
    <button class="btn btn-success btn-lg btn-block" style="width: 100%;" type="submit" [disabled]="form.invalid"> <i
        class="fas fa-database"></i>
      Aceptar</button>
  </div>
</form>
